# Web Framework
fastapi
uvicorn

# Data Processing
pandas
sqlparse
sqlglot

# API Models
pydantic
python-multipart

# Testing
pytest
pytest-asyncio
pytest-mock

# Type Hints
typing

# Auth
clerk-backend-api

shortuuid